$blue: #3490dc;
@import '~bootstrap/scss/bootstrap';

.the-cow {
    border: 10px solid #000;
    display: inline-block;
    padding: 5px;
    text-align: center;
}

.grass {
    color: green;
    background-image: url('../images/grass.jpg');
}
